<form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=BestTouristAttractionInIndonesia', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <p>Enter your email address:</p>
    <p><input type="text" style="width:140px" name="email"/></p>
    <input type="hidden" value="BestTouristAttractionInIndonesia" name="uri"/>
    <input type="hidden" name="loc" value="en_AU"/>
    <input type="submit" value="Subscribe" />
</form>